html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: #F9F5FF;
}

* {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #28262C;
  padding: 10px 20px;
  color: white;
}

.navbar .logo img{
  margin:0;
  padding:0;
  display: block
}

.navbar .buttons {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.buttons a {
  text-decoration: none !important;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  padding: 3px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.8rem;
}

.gallery {
  background-color: #7389AE; 
}

.photos, .events {
  background-color: #779BE7;
}

.booking, .sports {
  background-color: #79C99E; 
}

.about {
  background-color: #7389AE; 
}

.gallery:hover {
  background-color: #6A7C9E; 
}

.photos:hover, .events:hover {
  background-color: #5A8BD6; 
}

.booking:hover, .sports:hover {
  background-color: #66B58C; 
}

.about:hover {
  background-color: #6A7C9E;
}
.content {
  padding: 50px;
  text-align: center;
  font-size: 1.8rem;
}
.content img {
  margin-top:30px;
  width:50%;
}
.logoBig{
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s ease-out;
}
.logoBig.show{
  opacity: 1;
  transform: translateY(0);
}

.content .buttons a{
  font-family: "Urbanist", sans-serif;
  padding: 8px 20px;
  border-radius: 10px;
  font-size:3rem;
}
.content .buttons {
  margin-top: 10px;
  display: flex;
  justify-content:center;
  gap:60px;
}

.content h1{
  font-size:4rem;
  font-weight: bold;
  margin: 0;
}

.content p{
  font-weight: 500;

}
.aboutText{
  margin-bottom:60px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; 
}
#pictures {
  column-count: 4;
  column-gap: 5px;
}
#pictures img {
  width: 100%;
  margin: 0px;
}
#pictures .card-img-top {
  border-radius: 3px;
}

#pictures .card {
  box-shadow: none;
  border: none;
  margin-bottom: 5px; 
}



/* Hide lightbox by default */
#lightbox.hidden {
  display: none;
}

/* Fullscreen overlay */
#lightbox {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 20px black;
}

/* Close button */
#close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}


/*Footer Contact*/
.contact-bar {
  width: 100%;
  box-sizing: border-box;
  background-color: #28262C;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.contact a:hover {
  text-decoration: underline;
}

.icon {
  width: 30px;
  height: 30px;
}
/*About Me Format */
.siteInfo img {
  width:60%;
  margin-bottom:40px;
}
.siteInfo p {
  font-size:2.5rem;
  margin-bottom:40px;
}
.colorTitle {
  margin-bottom:10px !important;
}
.color-palette {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}


.color-card {
  width: 140px;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.color-block {
  height: 100px;
}

.color-hex {
  padding: 5px ;
  background: white;
  font-weight: bold;
}

/*GOOGLE FORM FORMAT */
.form-container {
  position: relative;
  width: 100%;
  padding-bottom: 120%; /* Adjust ratio to form height */
  height: 0;
}

.form-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
