html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: #F9F5FF;
}

* {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #28262C;
  padding: 10px 20px;
  color: white;
}

.navbar .logo img{
  margin:0;
  padding:0;
  display: block
}

.navbar .buttons {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.buttons a {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  padding: 3px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.8rem;
}

.gallery {
  background-color: #7389AE; 
}

.photos, .events {
  background-color: #779BE7;
}

.booking, .sports {
  background-color: #79C99E; 
}

.about {
  background-color: #7389AE; 
}

.gallery:hover {
  background-color: #6A7C9E; 
}

.photos:hover, .events:hover {
  background-color: #5A8BD6; 
}

.booking:hover, .sports:hover {
  background-color: #66B58C; 
}

.about:hover {
  background-color: #6A7C9E;
}
.content {
  padding: 50px;
  text-align: center;
  font-size: 1.8rem;
}
.content img {
  margin-top:30px;
  width:50%;
}

.content .buttons a{
  font-family: "Urbanist", sans-serif;
  padding: 8px 20px;
  border-radius: 10px;
  font-size:3rem;
}
.content .buttons {
  display: flex;
  justify-content:center;
  gap:30px;
}


.content h1{
  font-size:4rem;
  font-weight: bold;
  margin: 0;
}

.content p{
  font-weight: 500;
  margin: 0;
}
.aboutText{
  margin-top:60px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; 
}
#pictures {
  column-count: 4;
  column-gap: 5px;
}
#pictures img {
  width: 100%;
  margin: 3px;
}